<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.ca2sa.menu.MenuMapper">
    <insert id = "postMenuInfo" useGeneratedKeys="true" keyProperty="menuId">
        INSERT INTO menu
        SET cafeId = #{cafeId},
        menuName = #{menuName},
        price = #{price},
        comment = #{comment},
        menuPic = #{menuPic},
        categoryId = #{categoryId}
    </insert>

    <select id = "existsMenu" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM menu
        WHERE cafeId = #{cafeId} AND menuName = #{menuName}
    </select>

    <select id = "getMenuInfo">
        SELECT A.menuId, A.menuName, A.price, A.comment, A.menuPic, B.categoryId
        FROM menu A
        LEFT JOIN category B
        ON A.categoryId = B.categoryId
        WHERE A.cafeId = #{cafeId}
    </select>

    <select id="getMenuDetailInfo">
        SELECT a.menuName,a.price,a.comment,a.menuPic,b.optionName,b.addPrice
        FROM menu a
        LEFT JOIN menu_option b
        on a.menuId=b.menuId
        WHERE a.menuId=#{menuId}
    </select>

    <update id = "updateMenuInfo">
        UPDATE menu
        <set>
            <if test =" categoryId != null">
                categoryId = #{categoryId},
            </if>
            <if test=" menuName !=null and menuName != '' ">
                menuName = #{menuName},
            </if>
            <if test=" price !=null">
                price = #{price},
            </if>
            <if test=" comment !=null and comment != '' ">
                comment = #{comment},
            </if>
            <if test=" menuPic !=null and menuPic != '' ">
                menuPic = #{menuPic}
            </if>
        </set>
        WHERE cafeId = #{cafeId}
        AND menuId = #{menuId}
    </update>

    <delete id = "deleteMenuInfo">
        DELETE
        FROM menu
        WHERE menuId = #{menuId}
        AND cafeId=#{cafeId}
    </delete>
</mapper>
