<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.ca2sa.menu.MenuMapper">
    <insert id = "insMenu" useGeneratedKeys="true" keyProperty="menuId">
        INSERT INTO menu
        SET cafeId = #{cafeId},
        menuName = #{menuName},
        price = #{price},
        comment = #{comment},
        menuPic = #{menuPic}
    </insert>

    <select id = "selMenuList">
        SELECT `menuId`, `menuName`, `price`, `comment`, menuPic
        FROM menu
        WHERE cafeId = #{cafeId}
    </select>



    <delete id = "deleteMenu">
        DELETE
        FROM menu
        WHERE menuId = #{menuId}
    </delete>

    <select id="getMenuDetailInfo">
        SELECT a.menuName,a.price,a.comment,a.menuPic,b.optionName,b.addPrice,b.required
        FROM menu a
        LEFT JOIN menu_option b
        on a.menuId=b.menuId
        WHERE a.menuId=#{menuId}
    </select>






</mapper>