<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.ca2sa.user.UserMapper">
    <insert id="postUserSignUp"> <!--회원가입-->
        insert into user
        set email = #{email}
            , upw = #{upw}
            , nickName = #{nickName}
            , agree = #{agree}
    </insert>

    <select id="getUserEmailCheck"> <!--메일중복체크-->
        select email
        from user
        where email = #{email}
    </select>

    <select id="postUserSignIn"> <!--로그인-->
        select email, upw, userId, nickName
        from user
        where email = #{email}
    </select>

    <select id="getUserInfo"> <!--유저 정보 조회-->
        select email, nickName,
        from user
        where userId = #{userId}
    </select>

    <select id="updateCheckUpwInfo"> <!--유저 정보 변경전 본인확인-->
        select upw
        from user
        where #{userId}=#{userId}
    </select>

    <select id="updateUserInfo">
        update user
        set nickName = #{nickName}
        where userId = #{userId}
    </select>


</mapper>