<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.ca2sa.cafe.order.CafeOrderMapper">
    <update id="updCafeOrder">
        update `order`
        set orderProgress = #{orderProgress}
        where orderId = #{orderId}
    </update>
</mapper>